# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/

# Visual Studio cache/options directory
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet Packages
*.nupkg
*.snupkg
.nuget/
packages/
nuget.config

# IDE - VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# IDE - JetBrains
.idea/
*.sln.iml

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# MacOS
.DS_Store

# dotnet
*.DotSettings.user
project.lock.json
project.fragment.lock.json
artifacts/

# Temp files
*.tmp
*.temp
*.bak
*~

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Crash dumps
*.stackdump
[Cc]rash[Rr]eport*/

# PublishProfiles
*.pubxml
*.publishproj

# wpftmp files
*_wpftmp.csproj*
